API_BASE_URL=
DATABASE_URL=
SECRET_KEY=
SUPABASE_URL=https://rmlewvtjarvyqzpibkot.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtbGV3dnRqYXJ2eXF6cGlia290Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTcwNzc1NywiZXhwIjoyMTAxMjgzNzU3fQ.lAXtAF6j-IWXRScrO4lVyTqoXP0V3ffkXDXKHOqT0qY


SUPABASE_URL=https://rmlewvtjarvyqzpibkot.supabase.co

SUPABASE_SERVICE_ROLE_KEY=7tdtIwA4OA6ASKpLKH7X00UUJF99JxaDonCjeQUu36wheiWIToMKhDPF0mXCiiKkicKDw+K9oCD34+zvksUuNg==

JWT_SECRET_KEY=7tdtIwA4OA6ASKpLKH7X00UUJF99JxaDonCjeQUu36wheiWIToMKhDPF0mXCiiKkicKDw+K9oCD34+zvksUuNg==


FRONDEND_URL = http://localhost:8501
BACKEND_URL = "http://127.0.0.1:8000